


@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.6.3');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fontawesome-icon {
	font-family: 'FontAwesome';
	display: inline-block;
}

.fontawesome-icon:before {
	content: attr(symbol);
	padding-left: 10px;
	font-family: 'FontAwesome';
}

.fontawesome-img-button {
	font-family: 'FontAwesome';
	cursor: default;
	display: inline-block;
}

.fontawesome-img-button:before {
    padding-right: 2px;
	content: attr(symbol);
	padding-left: 10px;
	font-family: 'FontAwesome';
}

.ftr-toggle .fontawesome-img-button:BEFORE {
    color: #FFFFFF;
}

.fontawesome-img-button:hover {
	cursor: pointer;
}

.fontawesome-img-button.disabled {
	cursor: default;
	-moz-opacity: 0.50;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity = 50);
	opacity: 0.50;
}

.ftr-clear-panel {
	clear: both;
}


.ftr-dropdown .otherRow {
	height: 52px;
}

.ftr-dropdown ul li.otherRow {
	padding-right: 0;
}

.ftr-dropdown .otherRow .btn {
	width: 98%;
	display: inline-table;
    margin-left: auto;
    margin-right: auto;

}

.ftr-drop-down-button .ftr-popup {
	position: absolute;
	z-index: 300000;
}

.ftr-drop-down-element {
	position: relative;
} 

.ftr-drop-down-element .ftr-popup {
    position: absolute;
    z-index: 300000;
}

.ftr-drop-down-button .ftr-popup input {
	padding-bottom: 0;
	margin-bottom: 0;
	color: #3f3f3f;
}

.ftr-dropdown ul li {
	height: 48px;
	line-height :48px;
	padding-left: 4px;
}

.ftr-dropdown ul li img {
	line-height: 48px;
    margin-right: 4px;
    vertical-align: sub;
}


.col.input-field .ftr-dropdown [type="radio"]:not(:checked) + label, .col.input-field  .ftr-dropdown [type="radio"]:checked + label {
	 height: 48px;
}


.ftr-dropdown ul li span {
	
}

.ftr-dropdown .ul-selectable {
	max-height: 300px;
	overflow: auto !important;
	overflow-x: hidden;
}

.ftr-dropdown .ul-max {
	overflow-x: hidden;
}

.ftr-dropdown ul {
	overflow-x: hidden !important;
}

.clean-PopupPanel {
	z-index: 20000;
	background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    font-size: 12px;
}

.ftr-time-box { 
	width: 5em;
}

.ftr-image-anchor {
	position: relative;
	display: inline-block;
	white-space: nowrap;
	vertical-align: bottom;
	
	margin: 0;
	padding: 0 10px;
	font-size: 11px;
	font-weight: bold;
	color: #404040;
	cursor: pointer;
}


.ftr-count-red {
	background: #D14836 !important;
	color: #FFFFFF !important;
	margin-left: 2px;
	margin-right: 2px;
	width: 24px;
	text-align: center;
}

.ftr-button input {
	background-color: transparent;
	border-width: 0;
}

.flow-info-panel {
	
}

.FtrRequired {
	border-color: #4282FC;
}

.FtrLabel {
	font-weight: bold;
	
}

.FtrRequiredLabel, .FtrRequiredLabel .material-label {
	color: #4282FC;
}

.common-field-label {
	padding-left: 4px;
	white-space: nowrap;	
}

.FtrRequiredIndicator {
	color: #4282FC;
}

.FtrRequiredIndicator:after {
	content: "*";
	padding-left: 5px;
}

.flow-info-panel .FtrRequiredLabel:after {
	content: " *";
	color: #4282FC;
}

.gwt-TextBox {
	line-height: 26px;
	text-indent: 2px;
    border: solid 1px #dddddd;
}

.gwt-CheckBox {
	line-height: 24px;
}

.gwt-CheckBox input {
	padding-right: 2px;
}

.ftr-button {

}


.ftr-label-field-panel {
	padding-left: 3px;
}

.ftr-required-label {
	color: #4282FC;
}

.ftr-required-field {
	color: #4282FC;
}

.ftr-error-label {
	color: #ff0000;
}

.ftr-error-field {
	color: #ff0000;
}

.ftr-valid-label {
	color: green;
}

.multiselect ul li {
	position: relative;
	display: block;
	white-space: nowrap;
	list-style-type: none;
	background: whiteSmoke;
	margin: 3px 0;
	font-size: 12px;
	min-width: 120px;
	padding: 0 28px 0 5px;
} 

.multiselect ul li span, .multiselect ul li label{
	cursor: pointer;
	
}

.multiselect ul li label{
	padding-left: 3px;
    vertical-align: middle;
    margin-bottom: 0;
    margin-top: 0;
}	

.multiselect ul li:hover {
	background: #EEEEEE;
}

.multiselect ul li.ftr-disabled:hover {
	background: whiteSmoke;
	cursor: default;
}


.ftr-dropdown ul li {
	position: relative;
	display: block;
	white-space: nowrap;
	list-style-type: none;
	background: #FFFFFF;
	margin: 1px 0;
	font-size: 12px;
	min-width: 120px;
	overflow: hidden;	
	padding-right: 28px;
}

.ftr-dropdown ul .selected > span:after {
	content: '*';
	float: right;
	line-height: 54px;
}


.ftr-dropdown ul li span, .ftr-dropdown ul li label{
	cursor: pointer;
}

.ftr-dropdown ul li label {
	padding-left: 3px;
    vertical-align: middle;
    margin-bottom: 0;
    margin-top: 0;
	margin-right: 12px;
}	

.ftr-dropdown ul li .gwt-CheckBox label{
	padding-left: 32px;
}

.ftr-dropdown ul li:hover {
	background: #EEEEEE;
}

.ftr-dropdown ul li.ftr-disabled:hover {
	background: whiteSmoke;
	cursor: default;
}

.ftr-popup-panel ul {
	border: none;	
}

.ftr-dropdown ul li span {
	min-height: 8px;
	margin-left: 4px;
}

.ftr-dropdown ul li div {
	min-height: 8px;
	vertical-align: middle;
}

.ftr-dropdown ul li span .input-field label {
	top: 0;
}

.ftr-dropdown ul li input[type="radio"]{
	margin-top: 0;
	vertical-align: middle;
}
.ftr-button-anchor-white {
	cursor: pointer;
}

.ftr-button-anchor-white.ftr-dropdown>span {
	padding-right: 10px;
	background: url(arrow_down_white.png) right 50% no-repeat;
	cursor: pointer;
}

.ftr-button.ftr-dropdown>span {
	padding-right: 10px;
	background: url(arrow_down.png) right 50% no-repeat;
}

.ftr-button.ftr-toggle>span {
	padding-right: 12px;
	background: url(img_selecttoggle.png) right 50% no-repeat;
}

.ftr-dropdown ul {
	background: #FAFAFA;
	border: 1px solid rgba(0, 0, 0, 0.2);
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: #404040;
}

.ftr-dropdown-border {
	background: #FAFAFA;
	border: 1px solid rgba(0, 0, 0, 0.2);
	
}	


.ftr-dropdown-border ul {
	border-width: 0;
	
}

.ftr-dropdown ul .selected {
	background: #EEEEEE;
}

.ftr-dropdown.ftr-active {
	display: inline-block;
	z-index: 20000;
	
}

.ftr-dropdown.limit.ftr-active {
	max-height: 240px;
    overflow: auto !important;
}
