.sliderBarVerticalShell {
	position: relative;
}

.sliderBarVerticalKnob {
	top: 14px;
	height: 11px;
	width: 16px;
	margin-left :2px;
	position: absolute;
	z-index: 5001;
}

.minorLine {
	border-top: 1px dotted #dddddd;
	z-index: 5000;
}

.majorLine {
	border-top: 1px solid #0c0406;
	z-index: 5000;
}

.sliderDisabled {
	cursor: default;
	opacity: .5;
	zoom: 1;
	filter: alpha(opacity=45);
}

.sliderBarVerticalShellFocused {
	
}